body {
  font-family: 'Raleway';
}
.head-line {
  border-top: 10px solid #E1B1B0;
  width: 100%;
}
.bg-navbar {
  background-color:rgba(217, 219, 213, 0.15);
  border-bottom: 1px solid #A7B0AA;
}
.btn-resume {
  background: #A7B0AA;
  color: white;
  border-radius: 20px;
  letter-spacing: 1px;
}
.font-bold {
  font-weight: 500;
}